* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

.main {
  max-width: 1000px;
  max-height: 1000px;
  margin: 10rem auto auto auto;
}

.slider {
  background-color: gray;
  display: grid;
  row-gap: 25px;
  grid-template-columns: 65% 35%;
  grid-template-areas: 
            "image image"
            "name navigation";
}

.check {
  display: none;
}

.slide-list {
  overflow: hidden;
  max-width: 1000px;
  max-height: 500px;
  display: flex;
  grid-area: image;
}

.slide-item {
  
}

.slide-name-list {
  display: flex;
  gap: 100%;
  overflow: hidden;
  grid-area: name;
}

.slide-name-item {
  width: 100px;
}

.navigation-list {
  display: flex;
  gap: 10px;
  grid-area: navigation;
}

.swipe-btn {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}

img {
  object-fit: contain;
  width: 1000px;
  height: 100%;
}