* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

.main {
  max-width: 62.5rem;
  max-height: 62.5rem;
  margin: 10rem auto auto auto;
}

.slider {
  overflow: hidden;
  background-color: gray;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 65% 35%;
  grid-template-areas: 
            "image image"
            "name navigation";
}

.check {
  display: none;
}

#r1:checked ~ .slide-list .s1, #r1:checked ~ .name-list .d1 {
  margin-left: 0;
}

#r2:checked ~ .slide-list .s1, #r2:checked ~ .name-list .d1 {
  margin-left: -25%;
}

#r3:checked ~ .slide-list .s1, #r3:checked ~ .name-list .d1 {
  margin-left: -50%;
}

#r4:checked ~ .slide-list .s1, #r4:checked ~ .name-list .d1 {
  margin-left: -75%;
}

.slide-list {
  width: 400%;
  max-height: 500px;
  display: flex;
  grid-area: image;
}

.slide-item {
  width: 25%;
  transition: all 2s ease;
}

.slide-item img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.name-list {
  grid-area: name;
  display: flex;
  width: 615%;
}

.slide-name-item {
  transition: all 2s ease;
  width: 25%;
}

.navigation-list {
  display: flex;
  gap: 10px;
  grid-area: navigation;
  background-color: black;
}

.swipe-btn {
  cursor: pointer;
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 1rem;
  border-radius: 50%;
  border: 0.25rem solid bisque;
  background-color: bisque;
  transition: all .5s ease;
}

.z1 {
  border: 0.25rem solid bisque;
  background-color: blue;
}

/* .a1 {
  cursor: pointer;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.25rem solid bisque;
  background-color: red;
} */

.swipe-btn:hover {
  border: 0.25rem solid green;
}

.swipe-btn:active {
  transform: scale(1.2);
  background-color: green;
}